body{
  background-color: #f5f8fa;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  scroll-behavior: smooth;
  
}
*{
  scrollbar-width: 10px;
  scrollbar-width: thin;
  scrollbar-color: #001a4ac9  rgba(128, 128, 128, 0.493);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.submenu div::before{
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  margin: auto 10px 1px auto;
  align-items: center;
}
.research-box{
  padding: 20px 40px;
  border-radius: 0.75rem;
  /* width: 180px; */
}
.research-box p{
  width: 100px;
  padding-top: 5px;
  font-size: 14px;
}

